{% extends "layout.html" %}

{% block section %}
    <h3>WELCOME TO BANK DATABASE MANAGEMENT APPS</h3>

    {% if not condition %}
        {% if try_login %}
            <h4 style="color: red;">WRONG USERNAME/PASSWORD</h4>
        {% endif %}
        <h4>LOGIN</h4>
        <form action="{{ url_for('login') }}", method="POST">
            <input type="text", name="username", placeholder="username">
            <input type="password", name="password", placeholder="password">
            <button>Submit</button>
        </form>
        <br>
        <h4>REGISTER</h4>
        <form action="{{ url_for('register') }}", method="POST">
            <input type="text", name="username", placeholder="username">
            <input type="password", name="password", placeholder="password">
            <input type="password", name="password2", placeholder="repeat password">
            <button>Submit</button>
        </form>
        <br>
        <br>
    {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
{% endblock %}