{% extends "layout.html" %}

{% block section %}
    {% if condition %}

    <h2>Select Table</h4>
    <div class="ref_types">
        <h4>Ref_Types_of_Business</h4>
        <form action="{{ url_for('ref_types') }}", method="POST">
            <h5>Add to Database</h5>
            <input type="text", name="code", placeholder="Type_of_Business_Code">
            <input type="text", name="desc", placeholder="Type_of_Business_Desc">
            <button>Add</button>
        </form>
        <table>
            <thead>
                <th>Type_of_Business_Code</th>
                <th>Type_of_Business_Desc</th>
                <th>DELETE</th>
            </thead>
            <tbody>
                {% for row in ref_types_values %}
                <tr>
                    <td>{{ row.type_of_business_code }}</td>
                    <td>{{ row.type_of_business_desc }}</td>
                    <td><form action="{{ url_for('del_ref_types') }}", method="POST">
                        <button><input type="hidden", value="{{ row.type_of_business_code }}", name="delete">
                        Delete
                        </button>
                    </form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="customers">
        <h4>Customers</h4>
        <form action="{{ url_for('customers') }}", method="POST">
            <h5>Add to Database</h5>
            <input type="text", name="id", placeholder="Customer_ID">   
            <input type="text", name="code", placeholder="Type_of_Business_Code">
            <input type="text", name="name", placeholder="Customer_Name">
            <input type="text", name="address", placeholder="Customer_Address">
            <input type="text", name="desc", placeholder="Other_Details">
            <button>Add</button>
        </form>
        <table>
            <thead>
                <th>Customer_ID</th>
                <th>Type_of_Business_Desc</th>
                <th>Customer_Name</th>
                <th>Customer_Address</th>
                <th>Other_Details</th>
                <th>DELETE</th>
            </thead>
            <tbody>
                {% for row in customers_values %}
                <tr>
                    <td>{{ row.customer_id }}</td>
                    <td>{{ row.type_of_business_code }}</td>
                    <td>{{ row.customer_name }}</td>
                    <td>{{ row.customer_address }}</td>
                    <td>{{ row.other_details }}</td>
                    <td><form action="{{ url_for('del_customers') }}", method="POST">
                        <button><input type="hidden", value="{{ row.customer_id }}", name="delete">
                        Delete
                        </button>
                    </form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="locations">
        <h4>Locations</h4>
        <form action="{{ url_for('locations') }}", method="POST">
            <h5>Add to Database</h5>
            <input type="text", name="code", placeholder="Location_Code">
            <input type="text", name="name", placeholder="Location_Name">
            <input type="text", name="desc", placeholder="Location_Description">
            <button>Add</button>
        </form>
        <table>
            <thead>
                <th>Location_Code</th>
                <th>Location_Name</th>
                <th>Location_Description</th>
                <th>DELETE</th>
            </thead>
            <tbody>
                {% for row in locations_values %}
                <tr>
                    <td>{{ row.location_code }}</td>
                    <td>{{ row.location_name }}</td>
                    <td>{{ row.location_description }}</td>
                    <td><form action="{{ url_for('del_loc') }}", method="POST">
                        <button><input type="hidden", value="{{ row.location_code }}", name="delete">
                        Delete
                        </button>
                    </form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="products">
        <h4>Products</h4>
        <form action="{{ url_for('products') }}", method="POST">
            <h5>Add to Database</h5>
            <input type="text", name="code", placeholder="Product_ID">
            <input type="text", name="name", placeholder="Product_Name">
            <input type="text", name="desc", placeholder="Product_Description">
            <input type="text", name="oth", placeholder="Other_Details">
            <button>Add</button>
        </form>
        <table>
            <thead>
                <th>Product_ID</th>
                <th>Product_Name</th>
                <th>Product_Description</th>
                <th>Other_Details</th>
                <th>DELETE</th>
            </thead>
            <tbody>
                {% for row in products_values %}
                <tr>
                    <td>{{ row.product_id }}</td>
                    <td>{{ row.product_name }}</td>
                    <td>{{ row.product_description }}</td>
                    <td>{{ row.other_details }}</td>
                    <td><form action="{{ url_for('del_prod') }}", method="POST">
                        <button><input type="hidden", value="{{ row.product_id }}", name="delete">
                        Delete
                        </button>
                    </form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="trans_types">
        <h4>Ref_Types_of_Business</h4>
        <form action="{{ url_for('transaction_types') }}", method="POST">
            <h5>Add to Database</h5>
            <input type="text", name="code", placeholder="Transactions_Type_Code">
            <input type="text", name="name", placeholder="Transaction_Type_Descriptipn">
            <button>Add</button>
        </form>
        <table>
            <thead>
                <th>Transactions_Type_Code</th>
                <th>Transaction_Type_Descriptipn</th>
                <th>DELETE</th>
            </thead>
            <tbody>
                {% for row in trans_types_values %}
                <tr>
                    <td>{{ row.transaction_type_code }}</td>
                    <td>{{ row.transaction_type_description }}</td>
                    <td><form action="{{ url_for('del_trans_types') }}", method="POST">
                        <button><input type="hidden", value="{{ row.transactions_type_code }}", name="delete">
                        Delete
                        </button>
                    </form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="transactions">
        <h4>Transactions</h4>
        <form action="{{ url_for('transactions') }}", method="POST">
            <h5>Add to Database</h5>
            <input type="text", name="trans_id", placeholder="Transaction_ID">
            <input type="text", name="cust_id", placeholder="Customer_ID">
            <input type="text", name="loc_code", placeholder="Location_Code">
            <input type="text", name="prod_id", placeholder="Product_ID">
            <input type="text", name="type_code", placeholder="Transactions_Type_Code">
            <input type="text", name="trans_date", placeholder="Transaction_Date (yyyy-mm-dd)">
            <input type="text", name="amount", placeholder="Amount">
            <input type="text", name="count", placeholder="Count">
            <input type="text", name="oth", placeholder="Other_Details">
            <button>Add</button>
        </form>
        <table>
            <thead>
                <th>Transaction_ID</th>
                <th>Customer_ID</th>
                <th>Location_Code</th>
                <th>Product_ID</th>
                <th>Transaction_Type_Code</th>
                <th>Transaction_Date</th>
                <th>Amount</th>
                <th>Count</th>
                <th>Other_Details</th>
                <th>DELETE</th>
            </thead>
            <tbody>
                {% for row in trans_values %}
                <tr>
                    <td>{{ row.transaction_id }}</td>
                    <td>{{ row.customer_id }}</td>
                    <td>{{ row.location_code }}</td>
                    <td>{{ row.product_id }}</td>
                    <td>{{ row.transaction_id }}</td>
                    <td>{{ row.transaction_type_code }}</td>
                    <td>{{ row.transaction_date }}</td>
                    <td>{{ row.amount }}</td>
                    <td>{{ row.count }}</td>
                    <td>{{ row.other_details }}</td>
                    <td><form action="{{ url_for('del_trans') }}", method="POST">
                        <button><input type="hidden", value="{{ row.transaction_id }}", name="delete">
                        Delete
                        </button>
                    </form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}